<%- include('../includes/head.ejs') %>
	</head>
	<body>
		<%- include('../includes/navigation.ejs') %>
		<main>
			<form
				action="/admin/add-product"
				method="POST"
				class="product-form"
			>
				<div class="form-control">
					<label for="title">Title</label>
					<div class="flex-container">
						<input type="text" name="title" id="title" />
					</div>
				</div>
				<div class="form-control">
					<label for="imgUrl">Image URL</label>
					<div class="flex-container">
						<input type="text" name="imgUrl" id="imgUrl" />
					</div>
				</div>
				<div class="form-control">
					<label for="price">Price</label>
					<div class="flex-container">
						<input type="number" name="price" id="price" step="0.01" />
					</div>
				</div>
				<div class="form-control">
					<label for="description">Description</label>
					<div class="flex-container">
						<textarea name="description" id="description" cols="30" rows="5"></textarea>
					</div>
				</div>
				<button class="btn add-product" type="submit">Add Product</button>
			</form>
		</main>

<%- include('../includes/end.ejs') %>
